body {
  background: #fafafa;
  text-align: center;
  background-color: rgba(112, 163, 216, 0.41);
}

.grid-container {
  display: grid;
  gap: 50px;
  grid-template-columns: auto auto auto;
  padding: 10px;
}
.grid-item {
 background-color: rgba(200, 200, 255, 0.8);
 border: 1px solid;
 text-align: center;
}
p{ 
  background-color: rgba(200, 200, 255, 0.8);
  border: 1px solid;
  margin: 30px;
}
